In [1]:
#Import essential libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Import the dataset
data = pd.read_csv("http://localhost:8888/edit/Downloads/insurance.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 12, saw 2

In [ ]:
#Look at the first few records of dataset
data.head()

In [ ]:
#Look at the statistcical details of the data
data.describe()

In [124]:
#Look at the details of the variables of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [125]:
#Look for missing values in data
data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [71]:
#Get the data in numerical form
data = pd.get_dummies(data)
data.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 12 columns]

In [72]:
data.drop(['sex_female','smoker_no'],axis = 1,inplace = True)

In [73]:
data.rename(columns = {'sex_male':'gender','smoker_yes':'smoker'},inplace = True)

In [74]:
data.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 10 columns]

In [75]:
#Dividing data in independant and dependant datasets

#Idependant Variable
X = data.drop('charges',axis = 1)
X.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 9 columns]

In [76]:
#Dependant Variable
Y = pd.DataFrame(data['charges'])
Y.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [77]:
#Divide the data into training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test ,  Y_train ,Y_test = train_test_split(X,Y, test_size = 0.2 , random_state = 2)

print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(1070, 9)
(1070, 1)
(268, 9)
(268, 1)

In [78]:
#Lets implement simple linear regression

from sklearn.linear_model import LinearRegression

simple_linreg = LinearRegression()

In [79]:
#Fit or train the model with training data
simple_linreg.fit(pd.DataFrame(X_train.smoker) , Y_train)

#Predict on the test set for single feature 
Y_pred = simple_linreg.predict(pd.DataFrame(X_test.smoker))

In [80]:
Y_pred

array([[ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [32221.61500274],
       [32221.61500274],
       [ 8525.30007694],
       [ 8525.30007694],
       [32221.61500274],
       [ 8525.30007694],
       [32221.61500274]])

In [119]:
#Evaluation with single variable

print(simple_linreg.score(pd.DataFrame(X_test.smoker),Y_test))

0.5873875312183238

In [113]:
#Include multiple variables in regression

linreg = LinearRegression()

#Fit or train the model with training data
linreg.fit(X_train , Y_train)

#Predict for the test set
Y_pred_new = linreg.predict(X_test)

In [116]:
#Evaluation with Muiltiple Variables
print(linreg.score(X_test,Y_test))

0.7449415564623687